<div id="current_listing">
  <h1> <%= @listing.title %></h1>
  <h1> <%= @listing.description %></h1>
  <h1> $<%= @listing.price %></h1>
  <h1> <%= @listing.location %></h1>
</div>

<% if @listing.photos.first %>
  <% @listing.photos.all.each do |p| %>
    <%= image_tag p.photo.url(:medium) %>
  <% end %><br>
<% else %>
  <div class="notthere">
    <h3>Photo is not available</h3>
  </div>
<% end %>
<% if current_owner == @listing.owner && current_owner.owner == true %>
  <%= link_to "Add Photos", "/owners/#{@listing.owner.id}/listings/#{@listing.id}/photos/new" %>
  <%= link_to "Edit Listing", edit_listing_path, id: "new_link", remote: true %>
  <br />
  <%= link_to "Delete", listing_path(@listing), data: { method: "delete", confirm: "Are you super duper sure?"} %>
<% end %><br />

<%= link_to "Back", "/owners/#{@listing.owner.id}/listings" %>

<p>Enter your date!!</p>

<%= calendar @bookings do |booking| %>
  <div><%= link_to booking.title, booking %></div>
<% end %>


