<h1> <%= @listing.description %></h1>
<h1> $<%= @listing.price %></h1>
<h1> <%= @listing.location %></h1>

<% @listing.photos.all.each do |p| %>
  <%= image_tag p.photo.url(:medium) %>
  <% end %><br>
<% if current_owner %>
<%= link_to "Add Photos", "/owners/#{current_owner.id}/listings/#{@listing.id}/photos/new" %>
<% end %>
