<h1>Contact Us</h1>

<%= form_for @comment do |f| %>
  <%= f.label "you suck!" %>
  <%= f.text_area :comment %>
  <%= f.hidden_field :user_id , value: current_user.id %>
  <%= f.submit "send my complain" %>
<% end %>
