<!DOCTYPE html>
<html>
<head>
  <title>Airrnb</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if owner_signed_in? %>
  Logged in as <strong><%= link_to current_owner.email, "/owners/#{current_owner.id}" %></strong>.
  <%= link_to "My Lisitings", "/owners/#{current_owner.id}/listings" %> |
  <%= link_to 'Edit profile', edit_owner_registration_path %> |
  <%= link_to "Logout", destroy_owner_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign up", new_owner_registration_path %> |
  <%= link_to "Login", new_owner_session_path %>
<% end %>
 |  <%= link_to "Contact Us", new_comment_path %> |
    <%= link_to "Home", root_url %>
<%= yield %>

</body>
</html>
